* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  /* background-color: cyan; */
  position: relative;
  padding-top: 1px;
}

#nav {
  height: 12vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 40px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav h1 {
  /* background-color: yellow; */
  font-family: monument;
  font-size: 40px;
  letter-spacing: -1px;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav h1::after {
  content: "©️";
  position: relative;
  font-weight: 400;
  font-size: 18px;
  top: -22%;
  font-family: gilroy;
}

#nav h1::before {
  content: "model management";
  font-family: gilroy;
  color: #949494;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  top: 14%;
  left: 5%;
}

#nav h2 {
  /* background-color: yellow; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #000;
  font-size: 26px;
  font-weight: 600;
}

#nav h2:nth-last-child(2) {
  width: 29%;
}
#nav h2:nth-last-child(1) {
  width: 10%;
  border-right: none;
}

#center {
  /* background-color: red; */
  height: 90%;
  width: 100%;
  position: relative;
  padding: 2vw 5vw;
}

#content {
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 52%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  padding: 3vw;
  color: #fff;
}

#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}

#over1 h1 {
  font-family: monument;
  font-size: 3.6vw;
  /* justify-content: space-between;
  margin-bottom: 2vh; */
}

#over1 h2 {
  font-size: 1vw;
  padding: 2vw 2.1vw;
  /* background-color: blue; */
  border-radius: 50%;
  border: 2px solid#fff;
}

#over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #fff;
  padding: 1.5vw 0;
}

#over2 h4 {
  font-size: 1.3vw;
  font-weight: 500;
}

#over2 img {
  height: 3vw;
}

#scroll {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  /* padding: 1vw; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: inline-block;
  padding: 2vw;
  animation-name: anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll img {
  /* display: none; */
  height: 95%;
  width: 15%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 30% 30%;
  margin: 1vw;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

#alphabet {
  height: 10vh;
  width: 100%;
  /* background-color: tomato; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#alphabet h5 {
  font-size: 1.7vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 3px;
  text-decoration: underline;
}

#alphabet h6 {
  color: #525252;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 3px;
  /* background-color: yellow; */
  padding: 0.4vw 0.6vw;
  cursor: pointer;
}

#alphabet h6:hover {
  border-radius: 50%;
  border: 1px solid #000;
}

#page2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 5vw;
  /* background-color: gold; */
}

#page2-part1 {
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
}

#page2-part1 h1 {
  margin-top: 2vh;
  font-size: 6vh;
  font-family: monument;
  text-transform: uppercase;
}

#page2-part2 {
  height: 100%;
  width: 49%;
  object-fit: cover;
}

#page2-part2 img {
  height: 70%;
  width: 100%;
}

#page2-text {
  margin-top: 4vw;
  width: 100%;
  height: 50%;
  /* background-color: firebrick; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page2-text h4 {
  font-size: 2.5vw;
}

#page2-text p {
  font-size: 3vh;
}

.head {
  width: 50%;
  height: 100%;
}

.para {
  width: 45%;
  height: 100%;
}

#page3 {
  /* background-color: lightblue; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25vh;
  padding: 3vw 5vw;
}

#page3-left {
  height: 100%;
  width: 48%;
  /* background-color: yellowgreen; */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-img {
  width: 45%;
  height: 50%;
  /* background-color: #525252; */
  margin: 5px;
}

#left-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 10px;
}

#left-para {
  /* background-color: rgb(255, 189, 127); */
  width: 80%;
  height: 40%;
  margin: 5px;
  font-size: 4.5vh;
  display: flex;
  align-items: center;
}
#page3-right {
  height: 100%;
  width: 50%;
  background-color: chocolate;
  background-size: cover;
  background-position: center;
}

#right-img {
  width: 50%;
  height: 50%;
  /* background-color: #525252; */
  margin: 5px;
}

#page3-right img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  object-fit: cover;
  object-position: 0 50%;
}

#banner {
  width: 100%;
  height: 95vh;
  /* background-color: rgb(255, 157, 30); */
  padding: 3vw 5vw;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 35%;
}

#updates {
  padding: 3vw 5vw;
}

#updates > h1 {
  text-align: center;
  font-family: monument;
  text-transform: uppercase;
  font-size: 2.8vw;
  padding-bottom: 3vw;
}

.elem {
  height: 15vh;
  width: 100%;
  border-top: 2px solid #949494;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 3vw 5vw;
}

.elem h4 {
  text-transform: uppercase;
}

.elem img {
  position: absolute;
  width: 6vw;
  height: 6vw;
  background-color: tomato;
  object-fit: cover;
  border-radius: 50%;
  left: 20%;
  opacity: 0;
  transition: all ease 0.4s;
}

.elem:hover img {
  opacity: 1;
  left: 30%;
}

.elem .elem-part2 {
  width: 50%;
}

.elem:nth-last-child(1) {
  border-bottom: 2px solid #949494;
}

#marque {
  /* height: 25vh; */
  width: 100%;
  /* background-color: teal; */
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  white-space: nowrap;
  overflow-x: hidden;
}

#marque h1 {
  display: inline-block;
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 575;
  font-family: monument;
  /* letter-spacing: 1px; */
  color: transparent;
  /* -webkit-text-stroke: 2px #fff; */
  background-image: linear-gradient(
    111.6deg,
    rgba(73, 235, 221, 1) -0%,
    rgba(83, 222, 219, 1) 7.1%,
    rgba(105, 191, 217, 1) 13.4%,
    rgba(127, 157, 214, 1) 18%,
    rgba(155, 113, 208, 1) 23.9%,
    rgba(178, 73, 201, 1) 28.8%,
    rgba(200, 45, 192, 1) 33.3%,
    rgba(213, 42, 180, 1) 38%,
    rgba(232, 44, 145, 1) 44.2%,
    rgba(239, 45, 128, 1) 52.4%,
    rgba(249, 66, 107, 1) 59.7%,
    rgba(252, 105, 98, 1) 67.3%,
    rgba(252, 105, 98, 1) 74.4%,
    rgba(254, 145, 92, 1) 82.2%,
    rgba(255, 189, 86, 1) 88.2%,
    rgba(254, 227, 80, 1) 92.8%,
    rgba(254, 248, 75, 1) 98.4%
  );

  -webkit-background-clip: text;
  margin-right: 16px;
  animation-name: models;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes models {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 16px));
  }
}
#footer {
  height: 15vw;
  width: 100%;
  /* background-color: red; */
  border-bottom: 2px solid #000;
  /* padding: 4vh 2vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer h1 {
  width: 30%;
  height: 100%;
  font-family: monument;
  padding: 4vh 2vh;

  /* background-color: aquamarine; */
  text-align: center;
}

#footer h2 {
  text-align: center;
  height: 100%;
  border-right: 2px solid #000;
  padding: 4vh 6vh;
}
